@model sa47.team8ad.SSIS.Models.SupplierItemViewModel

@{
    ViewBag.Title = "Edit Supplier Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="box box-danger">
    <div class="box-header">
        <h3 class="box-title">Edit Supplier Item</h3>
    </div>
    <div class="box-body">

        @using (Html.BeginForm("EditSupplierItem", "MaintainSupplier", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.SupplierItemId)
                @Html.HiddenFor(model => model.SupplierId)


                <div class="form-group">
                    @Html.LabelFor(model => model.TenderPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenderPrice, new { htmlAttributes = new { @class = "form-control",
                       type = "number",
                       min = "0.00",
                       max = "10000.00",
                       step = "0.01"
                   } })
                        @Html.ValidationMessageFor(model => model.TenderPrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control", type = "number", min = "1",
                   max = "3"  } })
                        @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        @Html.ActionLink("Back", "SupplierItemDetails", new { id = Model.SupplierId }, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        }
        </div>
</div>
